*.pdf
*.tar.gz

.idea/AiPartB.iml
.idea/encodings.xml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
/venv/
/source/xXminecraftEmperorsXx/__pycache__